body{
    background-color: rgb(133, 133, 133);
    color: black;
}
h2{
    text-align: center;
}
.imagem1{
    width: 60%;
}
.filme{
   text-align: center;
   width: 390px;
   height: 600px;
   padding: 40px;
   align-content: center;
   display: block;
}