body{
    background-color: rgb(70, 66, 66);
    color: black;
}
h2{
    text-align: center;
}
.imagem1{
    width: 60%;
}
.filme{
   text-align: center;
   width: 390px;
   height: 600px;
   padding: 40px;
   align-content: center;
   display: block;
}

.cartaz{
    width: 40%;
}
.cartazes{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.link{
    background-color: black;
    color: dimgrey;
}
